{% extends 'base.html.twig' %}

{% block title %}Добави разход{% endblock %}

{% block body %}

    {% for message in app.flashes('notice') %}
        <div class="flash-success">
            {{ message }}
        </div>
    {% endfor %}

    <h2>Добави разход:</h2>

    {{ form(expense_form) }}

    <br><a class="btn btn-outline-secondary" href="/expenses">Назад</a><br><br>

{% endblock %}