{% extends 'base.html.twig' %}

{% block title %}Add income{% endblock %}

{% block body %}

    {% for message in app.flashes('notice') %}
        <div class="flash-success">
            {{ message }}
        </div>
    {% endfor %}

    <h2>Income:</h2>

    {{ form(income_form) }}

    <br><a class="btn btn-outline-secondary" href="/incomes">Go back</a><br><br>

{% endblock %}