{% extends 'base.html.twig' %}

{% block title %}Добави приход{% endblock %}

{% block body %}

    {% for message in app.flashes('notice') %}
        <div class="flash-success">
            {{ message }}
        </div>
    {% endfor %}

    <h2>Добави приход:</h2>

    {{ form(income_form) }}

    <br><a class="btn btn-outline-secondary" href="/incomes">Назад</a><br><br>

{% endblock %}