<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
<div class="container">
  <a href="/" class="navbar-brand"><i class="fa-solid fa-sack-dollar"></i> Водене на бюджета</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-nav">
    <span class="navbar-toggle-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="mobile-nav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a href="/" class="nav-link">Начало</a>
      </li>
      <li class="nav-item">
        <a href="/incomes" class="nav-link">Приходи</a>
      </li>
      <li class="nav-item">
        <a href="/expenses" class="nav-link">Разходи</a>
      </li>
    </ul>

    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
      {% if app.user %}
        <span class="nav-link">
          Logged in as: <b>{{ app.user.userIdentifier }}</b>
        </span>
      {% endif %}
      </li>
      <li class="nav-item">
        {% if app.user %}
              <a href="{{ path('app_logout') }}" class="btn btn-success">Logout</a>
          {% else %}
              <a href="{{ path('app_login') }}" class="btn btn-dark">Login</a>
        {% endif %}
      </li>
    </ul>
  </div>
</div>
</nav>